<% render 'layouts/_header.html' %>
<h4>Add New Product</h4>
<form action="${model.submitUrl}" method="post">
    <label for="sku" class="columns two">Sku: </label>
    <input type="text" name="sku" id="sku" class="columns four" value=""/>
    <span class="columns six"></span>

    <label for="name" class="columns two">Name: </label>
    <input type="text" name="name" id="name" class="columns four" value=""/>
    <span class="columns six"></span>


</form>
<p class="offset-by-nine"><a href="/admin/products/create">Add New</a></p>



<% render 'layouts/_footer.html' %>
